/* CSS STYLE SHEET*/
/* BODY */
body {
    background-color: rgb(216, 248, 255);
    font-family: 'Roboto', sans-serif;
}
/* HEADER */
h1 {
    font-size: 80px;
    text-align: center;
}
header::after {
    content: "";
    clear: both;
    display: table;
}

header p {
    text-align: center;
    font-weight: bold;
    font-size: large;
    word-spacing: 2px;
}
.icon {
    width: 80px;
    height: 80px;
}
header img {
    border-radius: 8px;
    width: 200px;
    height: 280px;
    display: block;
    margin: 0;
    float: left;
}
/* ASIDE */

aside ul {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 440px;
}

aside a {
    padding-right: 90px;
    font-size: 30px;
    text-underline-offset: none;
    font-weight: bolder;
}
